<section class="contact">
    <aside>
        <h3 tabindex="14">קשר</h3>

        <p tabindex="15" class="info">
            למידע נוסף על עמותת נכח ופעילויות סח"י,<br/>
            לשיתופי פעולה, הצטרפות ולפתיחת סיירות חדשות –<br/><br/>
            פנו אלינו ל:&nbsp;<a href="sahi.gives@gmail.com">sahi.gives@gmail.com</a> <br/><br/>
            או השאירו הודעה ב <a href="tel:+97254-4634546" class="">054-4634546</a>
        </p>
    </aside>
    <article>
        <h1 tabindex="16" class="light headContact">
            אתם מוזמנים להצטרף למשפחת
            סח"י, <br/>למעגל הנתינה ולפעילות
            לשינוי <br/> פני החברה בישראל
        </h1>
    </article>
</section>
<div class="formSection">
    <p tabindex="17">ליצירת קשר, אנא מלאו את הפרטים ונחזור אליכם בהקדם</p>

    <form name="contactForm" class="contactForm">
        <div class="formRight">
            <label tabindex="18" for="contactName" class="name">*שם</label>
            <span class="validation" ng-show="contactForm.contactName.$touched && contactForm.contactName.$invalid">שדה חובה</span>
            <input tabindex="19" name="contactName"  ng-model="contactName" id="contactName" type="text" class="formInput" required/>


            <label tabindex="20" for="contactPhone" class="name">טלפון</label>
            <span class="validation" ng-show="contactForm.contactPhone.$touched && contactForm.contactPhone.$invalid">שדה חובה</span>
            <input tabindex="21" name="contactPhone" ng-model="contactPhone" id="contactPhone" type="tel" class="formInput" required/>

            <label tabindex="22" for="contactSubject" class="name">נושא</label>
            <input tabindex="23" id="contactSubject" type="text" class="formInput"/>
        </div>
        <div class="formMiddle">
            <label tabindex="24" for="contactEmail" class="name">*מייל</label>
            <span class="validation" ng-show="contactForm.contactEmail.$touched && contactForm.contactEmail.$invalid">שדה חובה</span>
            <input tabindex="25" name="contactEmail" ng-model="contactEmail" id="contactEmail" type="email" class="formInput" required/>

            <label tabindex="26" for="contactCompany" class="name">חברה/ארגון</label>
            <input tabindex="27" id="contactCompany" type="text" class="formInput"/>

            <label tabindex="28" for="contactAddress" class="name">מקום יישוב</label>
            <input tabindex="29" id="contactAddress" type="text" class="formInput"/>
        </div>
        <div class="formLeft">
            <label tabindex="30" for="contactMsg" class="name">תוכן הפנייה</label>
            <span class="validation" ng-show="contactForm.contactMsg.$touched && contactForm.contactMsg.$invalid">שדה חובה</span>
            <textarea tabindex="31" name="contactMsg" ng-model="contactMsg" id="contactMsg" cols="19" rows="6" class="formTextArea" required></textarea>
        </div>
    </form>
    <p class="note">*שדה חובה</p>
    <button tabindex="32" class="formSend">שלח</button>
</div>
