.contact {
  display: flex;
  width: 100%;
}

.info {
  text-align: right;
  margin-top: 90px;
  font-size: 0.9em;
  margin-right: 20px;
  line-height: 1em;
}

.headContact {
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.formSection {
  float: left;
  margin-top: -95px;
  margin-left: 0;
}

.contactForm {
  display: flex;
  margin-top: -5px;
  width: 420px;
  color: $lightGray;
}

.formRight {
  flex: 1;
  float: right;
}

.formMiddle {
  flex: 1;
  float: right;
}

.formLeft {
  flex: 1;
  float: left;
}

.formTextArea {
  resize: none;
  background-color: #EFEFEF;
  border: none;
  padding-bottom: 55px;
}

.contactForm p {
  margin-bottom: 5px;
}

.formInput {
  background-color: #EFEFEF;
  border: none;
  line-height: 1.7em;
}

.note {
  color: $lightGray;
  margin-top: 15px;
}

.formSend {
  font-family: 'NextExitRound-Light', sans-serif !important;
  float: left;
  margin-top: -31px;
  border: none;
  background-color: #00519c;
  color: white;
  padding-bottom: 3px;
  padding-top: 3px;
  width: 35px;
}
@media only screen and (min-width: 640px) and (max-width: 860px) {
  aside {
    max-width: 35%;
  }
}
@media only screen and (max-width: 640px) {
  .contact {
    flex-direction: column;
    aside {
      h3 {
        padding-left: 0;
        padding-right: 0;
      }
    }
    article {
      h1 {
        display: block;
      }
    }
  }
  .headContact {
    text-align: center;
  }
  .info {
    text-align: center;
    font-size: 1.3em;
    margin-top: -5px;
    margin-right: 0;
  }
  .formSection {
    max-width: 75%;
    float: right;
    font-size: 1.3em;
    margin-right: 2em;
    margin-top: 0;
  }
  .contactForm {
    flex-direction: column;
  }
  .formInput {
    width: 75% !important;
    height: 3em;
  }
  .formTextArea {
    width: 103%;
    padding-right: 15px;
  }
}