
@import "vars";
@import "nav";
@import "../components/donation/donation";
@import "../home/home";
@import "../present/present";
@import "../people/people";
@import "../contact/contact";
@import "../partners/partners";
@import "../transparency/transparency";



//
//@media only screen and (min-width: 768px) {

//}

body {
  font-family: 'NextExitRound-Regular', sans-serif !important;
  direction: rtl;
  max-width: 860px;
  margin: auto;
  overflow-x: hidden;
}
.bbn {
  border-bottom: none !important;
}

.mb0 {
  margin-bottom: 0;
}

.mt-15 {
  margin-top: -15px;
}

.mt8 {
  margin-top: 8px;
}

.mb-20 {
  margin-bottom: -20px;
}

.mt-20 {
  margin-top: -20px;
}

.second {
  margin-top: 0px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.cb {
  color: black;
}

.fs18 {
  font-size: 18px;
}

.ml15 {
  margin-left: 15px;
}

.strong {
  font-size: 1.5em;
}

.weight {
  font-weight: 600;
}

a {
  font-family: 'NextExitRound-Regular', sans-serif !important;
  color: $lightGray;
  text-decoration: none;
  &:hover {
    color: $lightBlue !important;
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

.w70 {
  width: 70px;
}

.pr10 {
  padding-right: 10px;
}

.rightSide {
  background-color: rgb(239, 239, 239);
  text-align: left;
  width: 43%;
  border-top: 10px solid $lightBlue;
  float: right;
  line-height: 0.2;
  margin-left: 20px;
  color: black;
}

.rightSide hr {
  border-top: 1px solid black;
  margin-right: 70%;
}

.rightSide li {
  :hover {
    text-decoration: none;
  }
  :visited {
    font-weight: 600;
  }
}

.rightSide h3 {
  color: $lightBlue;
  font-family: "nextExitRound-Regular", sans-serif !important;
  text-decoration: none;
  margin-bottom: 20px;
}

.rightSide > ul > li > a > p {
  color: black;
}

.headLeftSide {
  color: white;
  background-color: $lightBlue;
  max-width: 720px;
}
