//General css - all pages
@font-face {
  font-family: 'NextExitRound-Bold';
  src: url('fonts/NextExitRound-Bold_WEB/NextExitRound-Bold.eot');
  src: url('fonts/NextExitRound-Bold_WEB/NextExitRound-Bold.woff') format('woff');
  src: url('fonts/NextExitRound-Bold_WEB/NextExitRound-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NextExitRound-Light';
  src: url('fonts/NextExitRound-Light_WEB/NextExitRound-Light.eot');
  src: url('fonts/NextExitRound-Light_WEB/NextExitRound-Light.woff') format('woff');
  src: url('fonts/NextExitRound-Light_WEB/NextExitRound-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NextExitRound-Regular';
  src: url('fonts/NextExitRound-Regular_WEB/NextExitRound-Regular.eot');
  src: url('fonts/NextExitRound-Regular_WEB/NextExitRound-Regular.woff') format('woff');
  src: url('fonts/NextExitRound-Regular_WEB/NextExitRound-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'NextExitRound-Regular', sans-serif !important;
  direction: rtl;
  max-width: 860px;
  margin: auto;
  overflow-x: hidden;
}

$darkGray: #403d3e;
$lightGray: #939597;
$lighterGray: #eeeeee;
$darkBlue: #001a5f;
$lightBlue: #00519c;

@media only screen and (max-width: 599px) {
  .navbar-brand > img {
    width: 180px;
    margin-right: 90px;
    float: left;
  }
  .navbar-toggle {
    float: right !important;
    right: 2%;
    margin-top: 0 !important;
    border: none;
  }
  .navbar-default .navbar-nav > li > a:before {
    content: "" !important;
  }
  .navbar-default {
    max-width: 86px;
  }
  .social {
    display: none;
  }
  .menu {
    margin-bottom: -5px !important;
  }
  .dd {
    position: fixed !important;
    z-index: 9999;
    height: 50px !important;
    width: 104.5px !important;
    left: -27px !important;
    padding-top: 14px !important;
    top: 4.5% !important;
  }
  .gal {
    width: 100% !important;
  }

  .presentHeadingMobile {
    text-align: center;
    background-color: $lighterGray;
    color: $lightBlue;
    height: 50px;
    h3 {
      font-size: 3em;
      padding-top: 5px;
    }
  }

  .presentList > ul {
    display: flex;
    list-style-type: none;
    margin-left: 42px;
    background-color: $lightBlue;
    color: white;
    height: 50px;
    width: 100%;
    font-size: 17px;
    font-family: 'NextExitRound-Light', sans-serif !important;
    padding-left: 45px;
    align-items: center;
    padding-top: 6px;
  }

  .interviewImg {
    margin-top: -25px;
    margin-left: 15%;
  }

  .descPresentMobile {
    margin-left: 15px;
    margin-right: 15px;

  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {

}

@media only screen and (min-width: 768px) {
  .navbar {
    min-height: 96px;
  }
}

@media only screen and (min-width: 992px) {
  body {
    //max-width: 1024px;
  }

  .imgSection {
    //max-width: 1023px;
    //max-height: 1070px;
  }

  section {
    //margin-top: 128px;
  }

  div#bs-example-navbar-collapse-1 {
    margin-top: 45px;
    margin-left: 125px;
  }

  .gal {
    height: 214px;
    width: 341px;
  }

  .menu {
    margin-left: 5px;
    list-style: none;
    text-decoration: none;
    text-align: center;
    width: 1090px;
    font-size: 1.3em;
    height: 127px;
  }

  .container > .navbar-header {
    margin-right: -110px;
    margin-left: 160px;
  }

  .dd {
    height: 65px;
    width: 206px;
    left: -71px;
    font-size: 2.1em;
  }
}

a {
  font-family: 'NextExitRound-Regular', sans-serif !important;
  color: $lightGray;
  text-decoration: none;
  &:hover {
    color: $lightBlue !important;
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

.w70 {
  width: 70px;
}

.pr10 {
  padding-right: 10px;
}

.rightSide {
  background-color: rgb(239, 239, 239);
  text-align: left;
  width: 43%;
  border-top: 10px solid $lightBlue;
  float: right;
  line-height: 0.2;
  margin-left: 20px;
  color: black;
}

.rightSide hr {
  border-top: 1px solid black;
  margin-right: 70%;
}

.rightSide li {
  :hover {
    text-decoration: none;
  }
  :visited {
    font-weight: 600;
  }
}

.rightSide h3 {
  color: $lightBlue;
  font-family: "nextExitRound-Regular", sans-serif !important;
  text-decoration: none;
  margin-bottom: 20px;
}

.rightSide > ul > li > a > p {
  color: black;
}

.headLeftSide {
  color: white;
  background-color: $lightBlue;
  max-width: 720px;
}

.light {
  font-family: "nextExitRound-Light", sans-serif;
}

.regular {
  font-family: "nextExitRound-Regular", sans-serif;
}

.bold {
  font-family: "nextExitRound-Bold", sans-serif;
}

//***Navigation***//
a {
  color: $lightGray;
  text-decoration: none;
}

a:hover {
  color: $lightBlue;
}

header {
  width: 100%;
  height: 85px;
  margin-bottom: -25px;
  z-index: 100;
}

#logo {
  margin: 20px;
  float: right;
  width: 200px;
  height: 40px;
  display: block;
}

nav {
  font-size: 1.3em;
}

#menu-icon {
  display: none;
  width: 40px;
  height: 40px;
}

a:hover#menu-icon {
  background-color: #444;
  border-radius: 4px 4px 0 0;
}

.nav > ul > li {
  padding-right: 0px;
  padding-top: 20px;
  list-style: none;
  padding-left: 0;
  &:before {
    content: "|";
    padding-right: 0.3em;
    padding-left: 0.3em;
  }
  &:first-child(1):before {
    content: "";
    padding: 0;
  }
}

li {
  display: inline-block;
  padding: 8px
}

.current {
  color: $lightBlue;
}

.social {
  float: left;
  position: relative;
  bottom: 52px;
  right: 20px;
}

.logo {
  float: right;
  height: 85px;
  margin-left: 140px;
  &:hover {
    cursor: pointer;
  }
}

.trans {
  vertical-align: top;
  font-size: 1.1em;
  margin-right: 15px;
}

.fb {
  width: 20px;
  margin-right: -43px;
  cursor: pointer;
}

.fr {
  float: right;
}

.yt {
  width: 20px;
  cursor: pointer;
}

/*MEDIA QUERY NAV*/
@media only screen and (max-width: 640px) {

  header {
    position: absolute;
  }

  #menu-icon {
    display: inline-block;
  }

  .activity {
    flex-direction: column;
  }

  .activity > aside > h3 {
    padding-left: 50% !important;
    font-size: 2.5em !important;
    margin-bottom: 5px !important;
  }
  .activity > aside {
    border-top: none !important;
  }

  .activity > aside > nav {
    float: right !important;
    width: 100% !important;
    line-height: 0.6em !important;
  }

  nav {
    text-align: center !important;
  }
  hr {
    display: none;
  }
  nav ul, nav:active ul {
    display: none;
    position: absolute;
    padding: 20px;
    background: #fff;
    border: 5px solid #444;
    right: 20px;
    top: 60px;
    width: 50%;
    border-radius: 4px 0 4px 4px;
  }

  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }
}

//******Home page******//
.imgSection {
  background-color: $darkBlue;
  width: 100%;
  display: flex;
}

.gal {
  width: 33.3%;
  margin-bottom: -5px;
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

//******Donation page******//
.dd {
  position: absolute;
  height: 42px;
  width: 161px;
  text-align: center;
  background-color: $lightBlue;
  color: white;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  left: -60px;
  padding-top: 15px;
  top: 50%;
}

.checkDetails {
  padding-right: 45px;
  margin-top: -20px;
}

.donation {
  text-align: center;
  margin-left: 273px;
  margin-top: 0;
}

.donationDetails {
  font-family: "nextExitRound-Light", sans-serif;
  float: left;
  padding-left: 72px;
  margin-top: -48px;
}

.donationRightSide {
  float: right;
}

.donationFormRight {
  float: right;
  margin-left: 10px;
}

.donationFormLeft {
  margin-bottom: 20px;
}

.donationFormRight p {
  margin-bottom: 3px;
}

.donationFormLeft p {
  margin-bottom: 3px;
}

.donationLast {
  margin-top: 50px;
}

.fl {
  float: left;
}

.arrow {
  position: relative;
  bottom: 46px;
  left: 118px;
}

.clickable {
  cursor: pointer;
}

form {
  display: table-caption;
  margin-top: -28px;
  width: 380px;;
}

form h5 {
  margin: 0;
  margin-top: 35px;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-left: 5px;
}

input[type="text"] {
  width: 105px;
  color: black;
  margin-left: 4px;
  padding-right: 2px;
}

#msg {
  position: absolute;
  min-height: 421px;
  left: -1236px;
  background-color: $lightBlue;
  color: white;
  overflow: hidden;
  z-index: 2;
  width: 91.6%;
}

.bankDetails {
  padding-top: 35%;
  padding-right: 45px;
}

.btnContinue {
  padding-top: 2px;
  float: left;
  background-color: $darkBlue;
  border: none;
  color: white;
  margin-left: 136px;
  font-family: "nextExitRound-Regular", sans-serif;
}

.bankDetailsMargin {
  margin-top: -10px;
}

.closeDonation {
  margin-right: 5px;
  margin-top: 3px;
  cursor: pointer;
  width: 10px;
}

/*MEDIA-QUERY PRESENT*/
@media only screen and (max-width: 640px) {
  .activity > aside {
    width: 100%;
    margin-top: 108px;
    flex: 1.4;
    text-align: center;
    border-top: none;
  }

  .activity img {
    margin-bottom: -5px;
  }

  aside > nav > li > p {
    padding-left: 25px;
    margin-right: -10px;
  }

  article > h1 {
    display: none;
  }

  .logo {
    text-align: center;
    float: none;
    height: 85px;
    margin: auto;
    width: 208px;
    margin-left: 15%;
  }

  #menu-icon {
    float: right;
    margin-top: 50px;
  }

  .activity > aside > h3 {
    padding-left: 88%;
    font-weight: normal;
    font-size: 2.5em;
    margin-top: 10px;
    padding-right: 40%;
    margin-bottom: 10px;
  }

  .activity > aside > nav {
    display: flex;
    padding-left: 15px;
    background-color: #00519C;
    color: white;
    float: right;
  }

  .desc {
    padding-top: 10px !important;
    padding-left: 25px !important;
    max-width: 85% !important;
  }

  nav li {
    padding: 15px 15px 10px 15px;
    margin: 0;
    margin-left: -45px;
  }
}

//******Present page******//
section {
  display: flex;
  width: 100%;
}

.ml15 {
  margin-left: 15px;
}

aside {
  flex: 1.4;
  background-color: $lighterGray;
  text-align: left;
  border-top: 15px solid $lightBlue;
}

article {
  flex: 1.6;
}

aside > h3 {
  padding-left: 25px;
  color: $lightBlue;
  font-weight: normal;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 15px;
}

aside > nav > li > p {
  margin-bottom: 0;
  margin-top: 0;
}

aside > nav {
  padding-left: 15px;
  float: left;
  list-style-type: none;
  width: 117px;
  line-height: 0.3em;
  padding-bottom: 30px;
}

aside > nav > hr {
  border-top: 1px dotted #6f6c6d;
  margin-bottom: 0px;
  margin-top: 0;
  margin-left: 10px;
}

.activity img {
  width: 100%;
}

article > h1 {
  background-color: #00519c;
  padding-top: 70px;
  margin-top: 0px;
  color: white;
  padding-right: 25px;
  padding-bottom: 5px;
  font-weight: normal;
  font-size: 1.5em;
}

.desc {
  padding-right: 25px;
  max-width: 70%;
  line-height: 0.9;
}

.strong {
  font-size: 1.5em;
}

.descParagraph {
  font-size: 1.3em;
  padding-left: 50px;
}

//******People page******//
.people > aside > nav {
  width: 152px;
  margin-top: -25px;
}

.people li {
  padding-bottom: 0;
  margin-top: -25px;
}

.people hr {
  margin-top: -10px;
}

.peopleArticle {
  flex: 1.6;
  flex-direction: column;
}

.peopleArticle > article {
  flex: 1;
}

//.descPeople {
//  max-width: 640px;
//  color: black;
//  line-height: 1.0em;
//}
//
//.people {
//  width: 100%;
//  margin-top: 50px;
//}
//
//.people2 {
//  margin-top: 40px;
//}
//
//.desc2 {
//  margin-top: -53px;
//}

//******Partners page******//
.cg {
  color: $darkGray;
}

.fs {
  font-size: 0.8em;
  margin-top: 15px;
}

.headMargin {
  margin-top: 60px;
  margin-bottom: -15px;
}

.secondParagraph {
  padding-top: 4px;
}

.recommendation {
  display: flex;
  margin-top: 40px;
  color: $lightGray;
}

.quote {
  color: $lightGray;
  float: left;
}

.right {
  margin-top: 80px;
  margin-right: -75px;
}

.partnerName {
  color: $lightBlue;
  float: right;
}

.mt80 {
  margin-top: 80px;
}

.logosRow {
  display: flex;
}

.logoImg {
  width: 145px;
  height: 75px;
  margin: 5px;
  border-right: 1px dotted $lightGray;
  margin-top: 56px;
  margin-left: 20px;
  margin-right: 5px;
}

.brn {
  border-right: none;
}

.logosHr {
  border: none;
  border-top: 1px dotted $lightGray;
  background-color: #fff;
  height: 1px;
  width: 100%;
  margin-top: -18px;
  margin-bottom: -50px;
}

.rightSidePartners > ul {
  margin-bottom: 11px;
}

//******Transparency page******//
.rightSideTransparency {
  padding-bottom: 33px;
}

.headLeftSideTrasnsparency {
  margin-top: -22px;
}

.docList {
  width: 260px;
  float: left;
  margin-left: 192px;
  margin-top: 30px;
}

//******Contact page******//
.info {
  text-align: right;
  margin-top: 90px;
  font-size: 0.9em;
  margin-right: 20px;
  line-height: 1em;
}

.headContact {
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contactForm {
  display: table-caption;
  margin-top: -5px;
  width: 370px;
  color: $lightGray;
}

.formRight {
  float: right;
}

.formMiddle {
  float: right;
  margin-right: 15px;
}

.formLeft {
  float: left;
  margin-left: -5px;
}

.formTextArea {
  resize: none;
  background-color: #EFEFEF;
  border: none;
  padding-bottom: 8px;
}

.contactForm p {
  margin-bottom: 5px;
}

.formInput {
  background-color: #EFEFEF;
  border: none;
  line-height: 1.7em;
}

.note {
  text-align: center;
  color: $lightGray;
  margin-top: 15px;
}

.formSend {
  float: left;
  margin-top: -31px;
  border: none;
  background-color: $lightBlue;
  color: white;
  margin-left: 39px;
  padding-top: 4px;
}
