@font-face {
  font-family: 'NextExitRound-Bold';
  src: url("fonts/NextExitRound-Bold_WEB/NextExitRound-Bold.eot");
  src: url("fonts/NextExitRound-Bold_WEB/NextExitRound-Bold.woff") format("woff");
  src: url("fonts/NextExitRound-Bold_WEB/NextExitRound-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NextExitRound-Light';
  src: url("fonts/NextExitRound-Light_WEB/NextExitRound-Light.eot");
  src: url("fonts/NextExitRound-Light_WEB/NextExitRound-Light.woff") format("woff");
  src: url("fonts/NextExitRound-Light_WEB/NextExitRound-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NextExitRound-Regular';
  src: url("fonts/NextExitRound-Regular_WEB/NextExitRound-Regular.eot");
  src: url("fonts/NextExitRound-Regular_WEB/NextExitRound-Regular.woff") format("woff");
  src: url("fonts/NextExitRound-Regular_WEB/NextExitRound-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: 'NextExitRound-Regular', sans-serif !important;
  direction: rtl;
  max-width: 860px;
  margin: auto;
  overflow-x: hidden; }

@media only screen and (max-width: 599px) {
  .navbar-brand > img {
    width: 180px;
    margin-right: 90px;
    float: left; }

  .navbar-toggle {
    float: right !important;
    right: 2%;
    margin-top: 0 !important;
    border: none; }

  .navbar-default .navbar-nav > li > a:before {
    content: "" !important; }

  .navbar-default {
    max-width: 86px; }

  .social {
    display: none; }

  .menu {
    margin-bottom: -5px !important; }

  .dd {
    position: fixed !important;
    z-index: 9999;
    height: 50px !important;
    width: 104.5px !important;
    left: -27px !important;
    padding-top: 14px !important;
    top: 4.5% !important; }

  .gal {
    width: 100% !important; }

  .presentHeadingMobile {
    text-align: center;
    background-color: #eeeeee;
    color: #00519c;
    height: 50px; }
    .presentHeadingMobile h3 {
      font-size: 3em;
      padding-top: 5px; }

  .presentList > ul {
    display: flex;
    list-style-type: none;
    margin-left: 42px;
    background-color: #00519c;
    color: white;
    height: 50px;
    width: 100%;
    font-size: 17px;
    font-family: 'NextExitRound-Light', sans-serif !important;
    padding-left: 45px;
    align-items: center;
    padding-top: 6px; }

  .interviewImg {
    margin-top: -25px;
    margin-left: 15%; }

  .descPresentMobile {
    margin-left: 15px;
    margin-right: 15px; } }
@media only screen and (min-width: 768px) {
  .navbar {
    min-height: 96px; } }
@media only screen and (min-width: 992px) {
  div#bs-example-navbar-collapse-1 {
    margin-top: 45px;
    margin-left: 125px; }

  .gal {
    height: 214px;
    width: 341px; }

  .menu {
    margin-left: 5px;
    list-style: none;
    text-decoration: none;
    text-align: center;
    width: 1090px;
    font-size: 1.3em;
    height: 127px; }

  .container > .navbar-header {
    margin-right: -110px;
    margin-left: 160px; }

  .dd {
    height: 65px;
    width: 206px;
    left: -71px;
    font-size: 2.1em; } }
a {
  font-family: 'NextExitRound-Regular', sans-serif !important;
  color: #939597;
  text-decoration: none; }
  a:hover {
    color: #00519c !important;
    text-decoration: none; }

ul {
  list-style-type: none; }

.w70 {
  width: 70px; }

.pr10 {
  padding-right: 10px; }

.rightSide {
  background-color: #efefef;
  text-align: left;
  width: 43%;
  border-top: 10px solid #00519c;
  float: right;
  line-height: 0.2;
  margin-left: 20px;
  color: black; }

.rightSide hr {
  border-top: 1px solid black;
  margin-right: 70%; }

.rightSide li :hover {
  text-decoration: none; }
.rightSide li :visited {
  font-weight: 600; }

.rightSide h3 {
  color: #00519c;
  font-family: "nextExitRound-Regular", sans-serif !important;
  text-decoration: none;
  margin-bottom: 20px; }

.rightSide > ul > li > a > p {
  color: black; }

.headLeftSide {
  color: white;
  background-color: #00519c;
  max-width: 720px; }

.light {
  font-family: "nextExitRound-Light", sans-serif; }

.regular {
  font-family: "nextExitRound-Regular", sans-serif; }

.bold {
  font-family: "nextExitRound-Bold", sans-serif; }

a {
  color: #939597;
  text-decoration: none; }

a:hover {
  color: #00519c; }

header {
  width: 100%;
  height: 85px;
  margin-bottom: -25px;
  z-index: 100; }

#logo {
  margin: 20px;
  float: right;
  width: 200px;
  height: 40px;
  display: block; }

nav {
  font-size: 1.3em; }

#menu-icon {
  display: none;
  width: 40px;
  height: 40px; }

a:hover#menu-icon {
  background-color: #444;
  border-radius: 4px 4px 0 0; }

.nav > ul > li {
  padding-right: 0px;
  padding-top: 20px;
  list-style: none;
  padding-left: 0; }
  .nav > ul > li:before {
    content: "|";
    padding-right: 0.3em;
    padding-left: 0.3em; }
  .nav > ul > li:first-child(1):before {
    content: "";
    padding: 0; }

li {
  display: inline-block;
  padding: 8px; }

.current {
  color: #00519c; }

.social {
  float: left;
  position: relative;
  bottom: 52px;
  right: 20px; }

.logo {
  float: right;
  height: 85px;
  margin-left: 140px; }
  .logo:hover {
    cursor: pointer; }

.trans {
  vertical-align: top;
  font-size: 1.1em;
  margin-right: 15px; }

.fb {
  width: 20px;
  margin-right: -43px;
  cursor: pointer; }

.fr {
  float: right; }

.yt {
  width: 20px;
  cursor: pointer; }

/*MEDIA QUERY NAV*/
@media only screen and (max-width: 640px) {
  header {
    position: absolute; }

  #menu-icon {
    display: inline-block; }

  .activity {
    flex-direction: column; }

  .activity > aside > h3 {
    padding-left: 50% !important;
    font-size: 2.5em !important;
    margin-bottom: 20px !important; }

  .activity > aside {
    border-top: none !important; }

  .activity > aside > nav {
    float: right !important;
    width: 100% !important;
    padding-bottom: 10px !important; }

  li {
    padding: 0 !important; }

  nav {
    text-align: center !important; }

  hr {
    display: none; }

  .cb {
    color: white !important; }

  .nav > ul {
    display: none; }

  aside > nav ul {
    display: flex !important;
    padding: 0 !important;
    position: relative !important;
    background: #00519C !important;
    top: 0 !important;
    width: 100% !important;
    margin-right: 0 !important; }

  nav > ul > li:before {
    content: "" !important;
    padding-right: 0.3em;
    padding-left: 0.3em; }

  nav li {
    text-align: center;
    width: 100%; }

  .fs18 {
    font-size: 22px !important; } }
.imgSection {
  background-color: #001a5f;
  width: 100%;
  display: flex; }

.gal {
  width: 33.3%;
  margin-bottom: -5px; }
  .gal:hover {
    cursor: pointer;
    opacity: 0.5; }

.dd {
  position: absolute;
  height: 42px;
  width: 161px;
  text-align: center;
  background-color: #00519c;
  color: white;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  left: -60px;
  padding-top: 15px;
  top: 50%; }

.checkDetails {
  padding-right: 45px;
  margin-top: -20px; }

.donation {
  text-align: center;
  margin-left: 273px;
  margin-top: 0; }

.donationDetails {
  font-family: "nextExitRound-Light", sans-serif;
  float: left;
  padding-left: 72px;
  margin-top: -48px; }

.donationRightSide {
  float: right; }

.donationFormRight {
  float: right;
  margin-left: 10px; }

.donationFormLeft {
  margin-bottom: 20px; }

.donationFormRight p {
  margin-bottom: 3px; }

.donationFormLeft p {
  margin-bottom: 3px; }

.donationLast {
  margin-top: 50px; }

.fl {
  float: left; }

.arrow {
  position: relative;
  bottom: 46px;
  left: 118px; }

.clickable {
  cursor: pointer; }

form {
  display: table-caption;
  margin-top: -28px;
  width: 380px; }

form h5 {
  margin: 0;
  margin-top: 35px;
  margin-bottom: 10px; }

input[type="radio"] {
  margin-left: 5px; }

input[type="text"] {
  width: 105px;
  color: black;
  margin-left: 4px;
  padding-right: 2px; }

#msg {
  position: absolute;
  min-height: 421px;
  left: -1236px;
  background-color: #00519c;
  color: white;
  overflow: hidden;
  z-index: 2;
  width: 91.6%; }

.bankDetails {
  padding-top: 35%;
  padding-right: 45px; }

.btnContinue {
  padding-top: 2px;
  float: left;
  background-color: #001a5f;
  border: none;
  color: white;
  margin-left: 136px;
  font-family: "nextExitRound-Regular", sans-serif; }

.bankDetailsMargin {
  margin-top: -10px; }

.closeDonation {
  margin-right: 5px;
  margin-top: 3px;
  cursor: pointer;
  width: 10px; }

section {
  display: flex;
  width: 100%; }

.ml15 {
  margin-left: 15px; }

aside {
  flex: 1.4;
  background-color: #eeeeee;
  text-align: left;
  border-top: 15px solid #00519c; }

article {
  flex: 1.6; }

aside > h3 {
  padding-left: 22px;
  color: #00519c;
  font-weight: normal;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 0; }

aside > nav > li > p {
  margin-bottom: 0;
  margin-top: 0; }

/*MEDIA-QUERY PRESENT*/
@media only screen and (max-width: 640px) {
  .activity > aside {
    width: 100%;
    margin-top: 108px;
    flex: 1.4;
    text-align: center;
    border-top: none; }

  .activity img {
    margin-bottom: -5px; }

  aside > nav > li > p {
    padding-left: 25px;
    margin-right: -10px; }

  article > h1 {
    display: none; }

  .logo {
    text-align: center;
    float: none;
    height: 85px;
    margin: auto;
    width: 208px;
    margin-left: 15%; }

  #menu-icon {
    float: right;
    margin-top: 50px; }

  .activity > aside > h3 {
    padding-left: 88%;
    font-weight: normal;
    font-size: 2.5em;
    margin-top: 10px;
    padding-right: 40%;
    margin-bottom: 10px; }

  .activity > aside > nav {
    display: flex;
    padding-left: 15px;
    background-color: #00519C;
    color: white !important;
    float: right;
    min-height: 50px; }

  ul {
    display: flex; }

  .desc {
    padding-top: 10px !important;
    padding-left: 25px !important;
    max-width: 85% !important; }

  nav li {
    padding: 15px;
    margin: 0; } }
aside > nav {
  padding-left: 15px;
  float: left;
  list-style-type: none;
  width: 158px;
  line-height: 0.3em;
  padding-bottom: 30px; }

aside > nav hr {
  border-top: 1px dotted #6f6c6d;
  margin-left: 10px;
  margin-bottom: -15px;
  margin-top: -15px; }

.activity img {
  width: 100%;
  margin-top: -30px; }

article > h1 {
  background-color: #00519c;
  padding-top: 70px;
  margin-top: 0px;
  color: white;
  padding-right: 25px;
  padding-bottom: 5px;
  font-weight: normal;
  font-size: 1.5em; }

.desc {
  color: #403d3e;
  padding-right: 25px;
  max-width: 70%;
  line-height: 0.9; }

.strong {
  font-size: 1.5em; }

.weight {
  font-weight: 600; }

.descParagraph {
  font-size: 1.3em;
  padding-left: 50px; }

.people > aside nav {
  width: 158px; }

.people img {
  width: 100%;
  margin-top: -20px; }

article > div > p {
  margin-bottom: -40px;
  margin-top: 45px; }

.mb-20 {
  margin-bottom: -20px; }

.mt-15 {
  margin-top: -15px; }

.second {
  margin-top: 65px; }

.mt30 {
  margin-top: 30px !important; }

.cb {
  color: black; }

.fs18 {
  font-size: 18px; }

.partners, .transparency {
  display: flex;
  width: 100%;
  height: 104px;
  margin-bottom: 80px; }

.cg {
  color: #77787a; }

.mw90 {
  max-width: 90%; }

.partners nav {
  padding-bottom: 0; }

.recommendation {
  display: flex; }

.recommendationRight {
  flex: 1; }

.recommendationMid {
  flex: 1;
  margin-right: 20px; }

.ml30 {
  margin-left: 30px; }

.recommendationLeft {
  flex: 1;
  margin-right: 20px;
  margin-left: -30px; }

.quote {
  color: #b4b4b4; }

.partnerName {
  color: #00519c;
  float: right; }

.logosRow {
  display: flex; }

.logoImg {
  width: 20%;
  height: 75px;
  margin: 5px;
  border-right: 1px dotted #e0e0e0;
  margin-top: 56px; }

.brn {
  border-right: none; }

.logosHr {
  border: none;
  border-top: 1px dotted #e0e0e0;
  background-color: #fff;
  height: 1px;
  width: 100%;
  margin-top: -18px;
  margin-bottom: -50px; }

/* Dropdown Button */
.dropbtn {
  background-color: #EEEEEE;
  color: black;
  padding: 3px;
  font-size: 17px;
  width: 55px;
  border: none;
  cursor: pointer;
  text-align: left;
  font-family: 'NextExitRound-Regular', sans-serif !important;
  padding-left: 10px; }

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #939597; }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  right: 40%; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 55px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 6px 15px;
  text-decoration: none;
  display: block; }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #939597; }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block; }

.arrowDown {
  background-image: url("./../img/arrowDown.png");
  width: 15px;
  background-repeat: no-repeat;
  height: 15px;
  font-size: 0.3em;
  margin-top: -20px;
  background-size: contain;
  position: relative;
  margin-right: 3px; }

.docList {
  color: #322e2f;
  width: 260px;
  float: left;
  margin-left: 25%;
  margin-top: -3%; }

.docList hr {
  border: 0.2px dotted #656363; }

.mt8 {
  margin-top: 8px; }

.contact {
  display: flex;
  width: 100%; }

.info {
  text-align: right;
  margin-top: 90px;
  font-size: 0.9em;
  margin-right: 20px;
  line-height: 1em; }

.headContact {
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px; }

.formSection {
  float: left;
  margin-top: -95px;
  margin-left: 0px; }

.contactForm {
  display: flex;
  margin-top: -5px;
  width: 420px;
  color: #939597; }

.formRight {
  flex: 1;
  float: right; }

.formMiddle {
  flex: 1;
  float: right; }

.formLeft {
  flex: 1;
  float: left; }

.formTextArea {
  resize: none;
  background-color: #EFEFEF;
  border: none;
  padding-bottom: 8px; }

.contactForm p {
  margin-bottom: 5px; }

.formInput {
  background-color: #EFEFEF;
  border: none;
  line-height: 1.7em; }

.note {
  color: #939597;
  margin-top: 15px; }

.formSend {
  font-family: 'NextExitRound-Light', sans-serif !important;
  float: left;
  margin-top: -31px;
  border: none;
  background-color: #00519c;
  color: white;
  padding-bottom: 3px;
  padding-top: 3px;
  width: 35px; }

/*# sourceMappingURL=app.css.map */
