.bbn {
  border-bottom: none !important;
}

.dn {
  display: none;
}

.fl {
  float: left;
}

.mb0 {
  margin-bottom: 0;
}

.clickable {
  cursor: pointer;
}


.mt-15 {
  margin-top: -15px;
}

.mt8 {
  margin-top: 8px;
}

.mb-20 {
  margin-bottom: -20px;
}

.mb-25 {
  margin-bottom: -25px;
}

.mt-20 {
  margin-top: -20px;
}

.cg {
  color: #77787a;
}

.mw90 {
  max-width: 90%;
}

.ml30 {
  margin-left: 30px;
}

.second {
  margin-top: 0 !important;
}

.mt30 {
  margin-top: 30px !important;
}

.cb {
  color: black;
}

.fs18 {
  font-size: 1.3em;
}

.ml15 {
  margin-left: 15px;
}

.strong {
  font-size: 1.5em;
}

.weight {
  font-weight: 600;
}

a {
  font-family: 'NextExitRound-Light', sans-serif !important;
  color: $lightGray;
  text-decoration: none;
 // outline: none !important;
  &:hover {
    color: $lightBlue !important;
    text-decoration: none;
  }
}
.fs14 {
  font-size: 1.4em;
}
ul {
  list-style-type: none;
}

.w70 {
  width: 70px;
}

.pr10 {
  padding-right: 10px;
}