.activity, .people, .partners {
  display: flex;
  width: 100%;
  .activity-sections {
    width: 30%;
    float: left;
    margin-top: -2px;
    li {
      border-bottom: 1px dotted #6f6c6d;
      display: block;
      p {
        cursor: pointer;
        margin-bottom: -3px;
        margin-top: -1px;
      }
    }
  }
}
.editable-click, a.editable-click {
  text-decoration: none;
  color: $darkGray;
  border-bottom: none;

}
.editable-click:hover, a.editable-click:hover {
  text-decoration: none;
  color: $darkGray;
}

aside {
  flex: 1.4;
  background-color: $lighterGray;
  text-align: left;
  border-top: 15px solid $lightBlue;
  ul {
    margin-left: 20px;
  }

  h3 {
    padding-left: 22px;
    color: $lightBlue;
    font-weight: normal;
    font-size: 2.2em;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  nav > li > p {
    margin-bottom: 0;
    margin-top: 0;
  }
  img {
    width: 100%;

  }
  .interviewName {
  text-align: right;
  font-size: 1.3em;
  background-color: white;
  margin-top: -5px;
  padding-top: 10px;
  margin-bottom: -10px;
  }
}

article {
  flex: 1.6;
  h1 {
    background-color: #00519c;
    padding-top: 70px;
    margin-top: 0px;
    color: $lighterGray;
    padding-right: 25px;
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 1.5em;
  }
  .desc {
    color: $darkGray;
    padding-right: 25px;
    max-width: 70%;
    line-height: 0.9;
  }
}

.descParagraph {
  font-size: 1.3em;
  padding-left: 50px;
}

/*MEDIA-QUERY PRESENT*/
@media only screen and (max-width: 640px) {
  .activity, .people, .partners, .transparency, .contact {
    aside {
      width: 100%;
      margin-top: 115px;
      text-align: center;
      border-top: none;
      h3 {
        padding-left: 88%;
        font-weight: normal;
        font-size: 2.5em;
        margin-top: 15px;
        padding-right: 40%;
        margin-bottom: 10px;
      }
      nav {
        display: block;
        padding-left: 15px;
        background-color: #00519C;
        color: $lighterGray !important;
        float: right;
        max-height: 50px;
        p {
          margin-bottom: 15px;
          margin-top: -15px;
          &:hover {
            border-bottom: 4px solid $lighterGray;
            padding-bottom: 5px;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
          }
        }
        ul {
          display: flex;
        }
      }
    }
    .activity-sections {
      width: 30%;
      float: none;
      li {
        border-bottom: none;
        padding: 15px;
        margin: 0;
        p {
          padding-left: 0;
          margin-right: 0;
        }
      }
    }
    img {
      margin-bottom: -5px;
    }
  }
  .social {
    display: none;
  }

  article > h1 {
    display: none;
  }

  .desc {
    padding-top: 10px !important;
    padding-left: 25px !important;
    max-width: 85% !important;
  }

}
