<section class="activity">
    <aside>
        <h3>{{vm.data.pageTitle}}</h3>
        <nav>
            <ul class="mt-15 light fs18 activity-sections">
                <li ng-repeat="section in vm.data.sections" ng-click="vm.sectionClicked(section)">
                    <p ng-class="{regular: section.selected}">{{section.title}}</p>
                </li>
            </ul>
        </nav>
        <img src="img/gal1Big.jpg" alt="" class="interviewImg"/>

        <p class="interviewName">שם המתראיין / תפקיד המתראיין</p>
    </aside>
    <article ng-repeat="section in vm.data.sections" ng-if="section.selected">
        <h1 class="light">{{section.title}}</h1>

        <div ng-repeat="section in vm.data.sections" ng-if="section.selected" class="desc">
            <p editable-textarea="section.textPrimary" e-rows="7" e-cols="40" e-form="textBtnForm"  onaftersave="vm.updateModel()" class="strong light weight mb0">
                {{section.textPrimary}}
            </p>
            <button class="btnEdit" ng-if="user.isAdmin" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible">ערוך</button>
            <br/>

            <p editable-textarea="section.textSecondary" e-rows="7" e-cols="40" e-form="textBtnForm"  onaftersave="vm.updateModel()" class="descParagraph regular">
                {{section.textSecondary}}
            </p>
            <button class="btnEdit" ng-if="user.isAdmin" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible">ערוך</button>
        </div>
    </article>
</section>

