<section class="activity">
    <aside>
        <h3>{{data.pageTitle}}</h3>
        <nav>
            <ul class="mt-15 cb light fs18 activity-sections">
                <li ng-repeat="section in data.sections" ng-click="sectionClicked(section)">
                    <p ng-class="{regular: section.selected}">{{section.title}}</p>
                </li>
            </ul>
        </nav>
        <img src="img/gal1Big.jpg" alt="" class="interviewImg"/>

        <p class="interviewName">שם המתראיין / תפקיד המתראיין</p>
    </aside>
    <article ng-repeat="section in data.sections" ng-if="section.selected">
        <h1 class="light">{{section.title}}</h1>

        <div ng-repeat="section in data.sections" ng-if="section.selected" class="desc">
            <p contenteditable="true" class="strong light weight mb0">
                {{section.textPrimary}}
            </p>
            <br/>

            <p contenteditable="true" class="descParagraph regular">
                {{section.textSecondary}}
            </p>
        </div>
    </article>
</section>

