.dd {
  position: absolute;
  height: 42px;
  width: 161px;
  text-align: center;
  background-color: $lightBlue;
  color: white;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  left: -60px;
  padding-top: 15px;
  top: 50%;
  z-index: 2;
}

.title {
  h4 {
    font-size: 1.7em;
  }
  h3 {
    display: none;
  }
}

.checkDetails {
  padding-right: 45px;
  margin-top: -20px;
}

.donation {
  margin-top: 1em;
  margin-right: 28%;
}

.donationOpen {
  outline: none !important;
  text-decoration: none;
}

.donationDetails {
  font-family: "nextExitRound-Light", sans-serif;
  float: left;
  padding-left: 22em;
  margin-top: -5.7em;
  h3 {
    font-size: 1.5em;
    font-weight: normal;
  }
  h6 {
    display: none;
  }
}

.donationRightSide {
  float: right;
  font-size: 1.3em;
  margin-top: -3em;
}

.donationFormRight {
  display: flex;
  margin-left: 20px;
  margin-top: 15px;
  flex-direction: column;
  p {
    margin-bottom: 3px;
  }
  label {
    display: block;
  }
  #donateName {
    margin-bottom: 10px;
  }
}

.donationFormLeft {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: -99px;
  margin-right: 7.5em;
  .id {
    margin-top: -10px;
  }
  #donateId {
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 3px;
  }
}

.donationAmount {
  margin-left: 12px;
  vertical-align: top;
}

.donateOptions {
  margin-bottom: 3px;
}

.donationLast {
  margin-top: 50px;
}

.arrow {
  margin-top: -75px;
  margin-left: 80px;
  cursor: pointer;
}

.donationDetails {
  form {
    display: table-caption;
    margin-top: -28px;
    width: 380px;;
  }

  form h5 {
    margin: 0;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  input[type="radio"] {
    margin-left: 8px;
    margin-bottom: 10px;
  }
  input[type="text"] {
    width: 80px;
    color: black;
    margin-left: 4px;
    padding-right: 5px;
  }
}

.reDonate {
  display: inline-flex;
}
#reDonation {
  margin-right: 20px;
}

.donationTextArea {
  margin-right: 5px ;
}
.inputBtn {
  display: none;
}

#msg {
  position: absolute;
  min-height: 495px;
  left: -1236px;
  background-color: $lightBlue;
  color: white;
  overflow: hidden;
  z-index: 2;
  width: 91.6%;
}

.bankDetails {
  padding-top: 35%;
  padding-right: 45px;
}

.btnContinue {
  cursor: pointer;
  padding: 5px;
  float: left;
  background-color: $darkBlue;
  border: none;
  color: white;
  margin-left: 110px;
  font-family: "nextExitRound-Regular", sans-serif;
  margin-top: -27px;
  outline: none;
}

.bankDetailsMargin {
  margin-top: -10px;
}

.closeDonation {
  position: absolute;
  right: 4%;
  top: 17em;
  height: 8em;
  cursor: pointer;
  width: 70px;
  outline: none;
  z-index: 100;
}

.donateDetails {
  display: none;
}
.donationForm {

}
.donationValidation {
  width: 48px;
  margin-right: 2.5em;
  color: red;
  font-size: 2em;
  margin-bottom: -13px;
  margin-top: -25px;
}

.payment {
  display: flex;
}

.visa {
  p {
    float: left;
  }
  input[type="radio"] {
    float: right;
  }

}

.paypal {
  margin-right: 1em;
  p {
    margin-bottom: -38px;
    margin-right: 25px;
  }
  label {
    vertical-align: top;
    float: left;
  }
}

.visaIcon {
  display: none;
}

.paypalIcon {
  display: none;
}

@media only screen and (min-width: 860px) and (max-width: 1260px) {
  .donationDetails {
    padding-left: 3em;
  }
}
@media only screen and (min-width: 640px) and (max-width: 960px) {
  .donationRightSide {
    display: none;
  }
  .donationDetails {
    padding-left: 11em;
    margin-top: -3.7em;
  }

}

@media only screen and (max-width: 640px) {
  .title {
    background-color: $lightBlue;
    height: 185px;
    h4 {
      padding-top: 20px;
    }
  }
  .dd {
    position: fixed;
    height: 50px;
    margin-top: 22px;
    width: 116px;
    margin-left: -30px;
    text-align: center;
    background-color: #00519c;
    color: white;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    left: 0;
    font-size: 2em;
    padding-top: 20px;
    top: 0;
    z-index: 100;
  }
  .donationMonthly {
    display: block;
  }
  #reDonation {
    margin-right: 0;
  }
  .donationDetails {
    form {
      background-color: white;
      display: flex;
      flex-direction: column;
      margin-top: -38px;
      width: 85%;
      color: $darkGray;
      padding-right: 45px;
      padding-left: 45px;
      h5 {
        margin: 0;
        margin-bottom: 10px;
      }
      input[type="text"] {
        padding-right: 15px;
      }
    }
  }
  .donationValidation {
    margin-right: 1.5em;
    margin-bottom: -10px;
    margin-top: -38px;
  }
  .inputRadioBtn {
    input[type="radio"] {
      display: none;
    }
  }
  .inputBtn {
    display: block;
    margin-bottom: -20px;
  }
  .donationTextArea {
    margin-right: 9px;
    padding: 10px 15px 10px 15px;
    background-color: $lighterGray;
    border: none;
    width: 50px !important;
  }
  .mobileDonationAmount {
    padding: 5px 15px 5px 15px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: white;
    border: 1px solid $lightGray;
    font-size: 1em;
    color: $darkGray;
    font-family: 'NextExitRound-Regular', sans-serif !important;
    &:hover {
      background-color: $lightBlue;
      color: white;
      cursor: pointer;
    }
  }

  .selected {
    background-color: $lightBlue;
    color: white;
  }
  .donation {
    text-align: center;
    margin-left: 4em;
    margin-top: 2.5em;
    margin-bottom: 25px;
  }

  .donationRightSide {
    display: none !important;
  }
  .inputRadioBtn {
    display: none;
  }

  .donationDetails {
    width: 100%;
    float: none;
    margin-top: -145px;
    h3 {
      padding-right: 45px;
    }
    h6 {
      margin-top: 5px;
      display: block;
      margin-bottom: 5px;
      font-size: 0.7em;
    }
    .mb-25 {
      margin-bottom: -45px;
    }
  }

  .closeDonation {
    position: absolute;
    top: 0;
    right: 85%;
  }

  #msg {
    background-color: transparent;
    font-size: 1.5em;
    width: 100%;
  }

  .bankDetails {
    padding-top: 0;
  }

  .checkDetails {
    margin-top: -65px;
  }

  .donationFormRight {
    margin-left: 0;
    float: none;
    margin-top: -60px;
    color: $lightGray;
    p {
      margin-bottom: 2px;
      margin-top: 5px;
    }
  }
  .donationFormLeft {
    margin-bottom: 0;
    margin-top: -5px;
    width: 100%;
    margin-right: 0;
    p {
      margin-bottom: 2px;
      margin-top: 20px;
      color: $lightGray;
    }
  }
  .mail {
    margin-top: 5px;
  }
  .reDonate {
    margin-top: 5px;
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .donateDetails {
    display: block;
    margin-top: 1em;
    margin-bottom: -20px;
  }
  .payment {
    display: block;
  }
  .visa {
    margin-right: 1em;
    float: right;
    text-align: center;
    p {
      margin-top: -5px;
      margin-bottom: -10px;
      float: none;
    }
    .visaIcon {
      display: block;
    }
    input[type="radio"] {
      float: none;
      display: block;
      margin-right: 4em;
    }
  }
  .paypal {
    float: left;
    margin-left: 50px;
    text-align: center;
    p {
      margin-top: 0;
      margin-bottom: -30px;
    }
    .paypalIcon {
      display: block;
      margin-bottom: 5px;
    }
    input[type="radio"] {
      float: none;
      display: block;
      margin-right: 4em;
    }
    label {
      float: none;
    }

  }
  .btnContinue {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.5em;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 60px;
    float: none;
    background-color: $lightBlue;
    &:hover {
      cursor: pointer;
    }
  }
  .arrow {
    display: none !important;
  }
  .donationLast {
    display: none;
  }

}
