<!--<div id="overlay"></div>-->
<div id="msg">
    <div class="closeDonation" onclick="slideOut('msg')"id="d2" >X</div>
    <h3 class="donation"> תרומה</h3>

    <div class="donationRightSide">
        <div class="bankDetails">
            <h5 class="regular">
                העברה בנקאית
            </h5>
            <h5 class="light bankDetailsMargin">
                הבנק הבינלאומי(31) סניף 109 אשקלון <br/>
                מספר חשבון:409-494542
            </h5>
        </div>
        <br/>
        <div class="checkDetails">
            <h5 class="regular">
                המחאה (צ'ק)
            </h5>
            <h5 class="light bankDetailsMargin">
                ניתן לשלוח אלינו לכתובת: <br/>
                משהו משהו משהו משהו ירושלים.
                <br/>
            </h5>
        </div>
    </div>
    <div class="donationDetails">

        <h3>עכשיו אתם! <br/>כל זה לא יכול לקרות <br/> בלי עזרתכם הנדיבה:</h3>

        <form action="">
            <h5>סכום התרומה:</h5>
            <input type="radio">50 ש"ח
            <input type="radio">100 ש"ח
            <input type="radio">200 ש"ח
            <input type="radio">500 ש"ח <br/>
            <input type="radio">סכום אחר
            <input type="text">ש"ח
            <input type="radio"> תרומה מתחדשת כל חודש <br/>

            <div class="donationFormRight">
                <p class="name">שם/חברה</p>
                <input type="text" class="formInput"/>

                <p class="phone">טלפון</p>
                <input type="text" class="formInput"/>
            </div>
            <div class="donationFormLeft">
                <p class="id">ת.ז./ח.פ</p>
                <input type="text" class="formInput"/>

                <p class="mail">מייל</p>
                <input type="text" class="formInput"/>
            </div>
            תשלום באמצעות: <br/>
            <input type="radio">כרטיס אשראי
            <input type="radio">paypal <br/>
            <input type="button" class="btnContinue" value="המשך">
            <h5 class="donationLast"></h5>
            כל התרומות מוכרות לצרכי מס לפי סעיף 46 לפקודת מס הכנסה
            <i class="fa fa-arrow-left fl arrow"></i>
        </form>
    </div>
</div>

<div onclick="slideIn('msg') "id="d1" class="dd clickable">תרומה</div>
<!--<div onclick="slideOut('msg') "id="d2" class="dd clickable">תרומה</div>-->