<div id="msg">
    <div class="title">
        <div class="closeDonation" onclick="slideOut('msg')" id="d2">X</div>
        <h4 class="donation light"> תרומה</h4>

        <div class="donationRightSide">
            <div class="bankDetails">
                <h5 class="regular">
                    העברה בנקאית
                </h5>
                <h5 class="light bankDetailsMargin">
                    הבנק הבינלאומי(31) סניף 109 אשקלון <br/>
                    מספר חשבון:409-494542
                </h5>
            </div>
            <br/>

            <div class="checkDetails">
                <h5 class="regular">
                    המחאה (צ'ק)
                </h5>
                <h5 class="light bankDetailsMargin">
                    ניתן לשלוח אלינו לכתובת: <br/>
                    משהו משהו משהו משהו ירושלים.
                    <br/>
                </h5>
            </div>
        </div>
        <!--<h3>עכשיו אתם! <br/>כל זה לא יכול לקרות <br/> בלי עזרתכם הנדיבה:</h3>-->
    </div>
    <div class="donationDetails">

        <h3>עכשיו אתם! <br/>כל זה לא יכול לקרות <br/> בלי עזרתכם הנדיבה:</h3>

        <form action="">
            <h6>כל התרומות לעמותה מוכרות לצרכי מס לפי סעיף 46 לפקודת מס הכנסה</h6>
            <h5>סכום התרומה:</h5>
            <span class="inputRadioBtn">
                <input type="radio"><span class="donationAmount">50 &#8362;</span>
                <input type="radio"><span class="donationAmount">100 &#8362;</span>
                <input type="radio"><span class="donationAmount">200 &#8362;</span>
                <input type="radio"><span class="donationAmount">500 &#8362;</span>
            </span>
            <span class="inputBtn">
                <button class="inputBtnBorder">50 &#8362;</button>
                <button class="inputBtnBorder">100 &#8362;</button>
                <button class="inputBtnBorder">200 &#8362;</button>
                <button class="inputBtnBorder">500 &#8362;</button>
            </span>
            <br/>
            <span>
                <input class="inputRadioBtn" type="radio">סכום אחר:
                <input class="donationTextArea" type="text"/>&#8362;
                <p class="reDonate"><input type="radio"> תרומה מתחדשת כל חודש <br/></p>
            </span>

            <p class="donateDetails regular">פרטי המשלם:</p>

            <div class="donationFormRight">
                <p class="name">שם/חברה</p>
                <input type="text" class="formInput"/>

                <p class="phone">טלפון</p>
                <input type="text" class="formInput"/>
            </div>
            <div class="donationFormLeft">
                <p class="id">ת.ז./ח.פ</p>
                <input type="text" class="formInput"/>

                <p class="mail">מייל</p>
                <input type="text" class="formInput"/>
            </div>
            <div class="donationFooter">
                <p class="donateOptions"> תשלום באמצעות: </p>
                <span class="payment">
                    <span class="visa">
                        <img class="visaIcon" src="img/logos/visa.png" alt=""/>
                        <p>כרטיס אשראי</p>
                        <input type="radio"/>
                    </span>
                    <span class="paypal">
                        <img class="paypalIcon" src="img/logos/paypal.png" alt=""/>
                        <p>paypal</p><br/>
                        <input type="radio">
                    </span>
                </span>
                <input type="button" class="btnContinue" value="המשך">
                <h5 class="donationLast"> כל התרומות מוכרות לצרכי מס לפי סעיף 46 לפקודת מס הכנסה</h5>
                <i class="fa fa-arrow-left fl arrow"></i>
            </div>
        </form>
    </div>
</div>
<div onclick="slideIn('msg')" id="d1" class="dd clickable">תרומה</div>
