<section class="home">
    <!--<div class="main">-->
        <!--<div class="img">-->
            <!--<img class="myImg" src="img/faces/1.jpg" alt=""/>-->
            <!--<span class="myQuote">-->
                <!--"quote"-->
            <!--</span>-->
            <!--<span class="iconPlay">-->
                <!--"iconplay"-->
            <!--</span>-->
            <!--<span class="imgDetails">-->
                <!--"name+role"-->
            <!--</span>-->
        <!--</div>-->
    <!--</div>-->

    <!--<iframe src="//player.vimeo.com/video/55874553?api=1&player_id=video123&title=0&byline=0&portrait=0&color=c9ff23;autoplay=1" width="720" height="405"  id="video123" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>-->
    <div ng-repeat="video in vm.data.videos track by video.id" class="imgSection">
        <div class="inside" ng-click="vm.playVideo(video)">
            <img ng-click="vm.playVideo(video)" tabindex="{{video.id+13}}" ng-if="!video.playNow"
                 ng-class="{mt7:$first}" id="img{{video.id}}"
                 ng-src="./img/faces/{{video.id}}.jpg" alt="{{video.name}}" class="gal"/>

            <span ng-click="vm.playVideo(video)" ng-if="!video.playNow" class="playCircle">
                <img src="img/play.png" class="play" ng-click="vm.playVideo(video)"></span>
                <span ng-if="!video.playNow" class="">
                    <div class="text-left mr-20">
                        <div title="{{video.name}}" tabindex="{{video.id+15}}" class="name">{{video.name}}</div>
                        <div title="{{video.role}}" tabindex="{{video.id+16}}" class="role">{{video.role}}</div>
                    </div>
                    <div class="quotes">
                        <img class="transform quoteL" src="img/quoteR.PNG" alt="quote"/>
                        <span title="{{video.qoute}}" tabindex="{{video.id+17}}"
                              class="homeQuote">{{video.quote}}</span>
                        <img class="transform quoteR" src="img/quoteL.PNG" alt="quote"/>
                    </div>
                </span>

            <div ng-if="!video.playNow" title="{{'More' | translate}}" tabindex="{{video.id+18}}" class="">
                <a class="linkMore" ng-href="#/activity/{{vm.getVideo(video.id).page}}?videoId={{video.id}}">
                    <span class="imgLeft">
                        <!--<i class="fa fa-arrow-left arrowMore"></i>-->
                        <p class="more">{{'More' | translate}}</p>
                    </span>
                </a>
            </div>

            <div class="iframe">
                <iframe tabindex="{{video.id+14}}" id="video{{video.id}}" ng-if="video.isPlaying"
                        ng-show="video.playNow"
                        ng-src="{{vm.getVideo(video.id).urlShort}}" width="584" height="329" frameborder="0"
                        title="0" byline="0" portrait="0">
                        <!--webkitallowfullscreen mozallowfullscreen allowfullscreen-->
                </iframe>
            </div>
        </div>
    </div>
    <div class="editHomePage" ng-if="user.isAdmin">
        <table style="width:400px">
            <tr ng-repeat="video in vm.data.videos track by video.id">
                <td>{{video.id}}</td>
                <td>{{video.name}} ({{video.role}})</td>
                <td>
                    <button ng-hide="$first" ng-click="vm.moveVideo(video, -1)">למעלה</button>
                    <button ng-hide="$last" ng-click="vm.moveVideo(video, 1)">למטה</button>
                    <button ng-click="vm.deleteVideo(video)">x</button>
                </td>
            </tr>
        </table>
        <button ng-click="vm.showAddVideo = true">הוסף וידאו</button>
        <form ng-show="vm.showAddVideo" ng-submit="vm.saveVideo()">
            <label class="videoUrl" for="videoUrlShort">כתובת סרטון קצר</label>
            <input id="videoUrlShort" type="text" ng-model="vm.newVideo.urlShort" required/>
            <label class="videoUrl" for="videoUrlFull">כתובת סרטון ארוך</label>
            <input id="videoUrlFull" type="text" ng-model="vm.newVideo.urlFull" required/>
            <label class="videoUrl" for="personName">שם</label>
            <input id="personName" type="text" ng-model="vm.newVideo.personName" required/>
            <label class="videoUrl" for="personRole">תפקיד</label>
            <input id="personRole" type="text" ng-model="vm.newVideo.personRole" required/>
            בחר מחלקה
            <select ng-model="vm.newVideo.page" required>
                <option value="past" selected="selected">עבר</option>
                <option value="present">הווה</option>
                <option value="future">עתיד</option>
                <option value="giving">נתינה</option>
            </select>
            <input type="submit" ng-click="vm.showAddVideo = false" value="שמור"/>
            <input type="button" ng-click="vm.showAddVideo = false" value="ביטול"/>
        </form>
    </div>
</section>