<section>
    <!--<a href="#" editable-text="user.name" onbeforesave="vm.updateUser($data)">-->
        <!--{{ user.name || 'הכנס ססמא' }}-->
    <!--</a>-->
        <div ng-repeat="video in vm.data.videos track by video.url" class="imgSection">
            <img ng-if="!video.playNow"
                   ng-src="./img/faces/{{video.img}}.jpg" alt="faces" class="gal" ng-click="vm.playVideo(video)"/>
            <div ng-if="!video.playNow" class="playCircle"><i class="fa fa-play-circle-o fa-3x play"></i></div>
            <span ng-if="!video.playNow" class="imgInfo">
                <span class="name">{{video.name}}</span>
                <span class="name role">{{video.role}}</span>
                <span class="moreInfo"><a href=""><i class="fa fa-arrow-left"></i></a></span><p class="more">עוד</p>
            </span>
            <iframe ng-if="video.isPlaying" ng-show="video.playNow" ng-src="{{video.url}}" width="286" height="190" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
</section>