<div class="transparency">
    <aside>
        <h3 tabindex="14">{{'Transparency' | translate}}</h3>
    </aside>
    <article>
        <h1 tabindex="15" class="light">{{'Financial documents' | translate}}</h1>
    </article>
</div>

<div class="transparencyContent">
    <div class="dropdown">
        <button tabindex="16" onclick="myFunction()" class="dropbtn">{{vm.selectedYear}}</button>
        <div class="arrowDown"></div>
        <div id="myDropdown" class="dropdown-content">
            <a tabindex="16" ng-click="vm.selectYear('2016')">2016</a>
            <a tabindex="17" ng-click="vm.selectYear('2015')">2015</a>
            <a tabindex="18" ng-click="vm.selectYear('2014')">2014</a>
        </div>
    </div>

    <div class="docList">
        <div class="">
            <!--<p>{{vm.selectedYear}}</p>-->
            <div ng-repeat="doc in vm.docs" class="mb-5">
                <a target="_blank" ng-href="{{doc.url}}">{{doc.title | translate}}</a>
            </div>
        </div>

    </div>
</div>
