<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SAHI</title>
    <link rel="icon" href="favicon.ico">
    <meta name="description" content='עמותת נכח - נתינה כדרך חיים (ע"ר) נוסדה מתוך רצון להשפיע ולהוביל התפתחות חברתית דרך הנתינה. לנכח תכניות לגילאים שונים, המרכזית שביניהן היא תכנית הנוער סח"י-סיירת חסד ייחודית שעוסקת באיתור בני נוער, והפיכתם לשגרירי נתינה בקהילתם בתהליך חינוכי ייחודי. '>
    <meta name="description" content="Established in 2009, S.A.H.I. transforms the lives of Israel's disadvantaged 'street kids' based a unique strength-based approach in which the youth themselves engage in acts of giving and helping others.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="bower_components/angular-carousel/dist/angular-carousel.css"/>
    <link rel="stylesheet" href="css/app.css">
    <!--<link rel="stylesheet" href="css/appltr.css">-->
    <link rel="stylesheet" href="css/fonts/font-awesome/scss/font-awesome.css">
    <!--<link rel="stylesheet" href="bower_components/lifely-angular-carousel/angular-carousel.css"/>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->

</head>
<body id="SAHI" ng-class="(lang=='he')? 'rtl': 'ltr'" close-popup ng-cloak="">
<a tabindex="1" ng-href="{{vm.pageName}}#content" class="skip">Skip to content</a>
<toaster-container toaster-options="{'time-out': 2000}"></toaster-container>
<header>
    <nav class="nav">
        <a ng-click="hideNav = !hideNav"><i class="fa fa-bars" id="menu-icon"></i></a>
        <a href="#/home"><img tabindex="2"  ng-src="{{logo}}" alt="sachi logo link to home page" class="logo"/></a>
        <ul ng-cloak="" ng-show="!hideNav" class="navUl">
            <li ng-hide="!isMobile">
                <a ng-cloak="" ng-if="lang=='he'" ng-click="changeLang('en')" tabindex="12" alt="אתר באנגלית" class="trans">ENG</a>
                <a ng-cloak="" ng-if="lang=='en'" ng-click="changeLang('he')" tabindex="12" alt="אתר בעברית" class="trans">עברית</a>
            </li>
            <li><a ng-click="hideNavOnClick()" tabindex="2" ng-class="getClass('past')" href="#/activity/past">{{'Past' | translate}}</a></li>
            <li><a ng-click="hideNavOnClick()" tabindex="3" ng-class="getClass('present')" href="#/activity/present">{{'Present' | translate}}</a></li>
            <li><a ng-click="hideNavOnClick()" tabindex="4" ng-class="getClass('future')" href="#/activity/future">{{'Future' | translate}}</a></li>
            <li><a ng-click="hideNavOnClick()" tabindex="5" ng-class="getClass('giving')" href="#/activity/giving">{{'Giving' | translate}}</a></li>
            <li><a ng-click="hideNavOnClick()" tabindex="6" ng-class="getClass('people')" href="#/people">{{'People' | translate}}</a></li>
            <li><a ng-click="hideNavOnClick()" tabindex="7" ng-class="getClass('transparency')" href="#/transparency">{{'Transparency' | translate}}</a></li>
            <li><a ng-click="hideNavOnClick()" tabindex="8" ng-class="getClass('contact')" href="#/contact">{{'Contact' | translate}}</a></li>
        </ul>
        <span class="social">
            <img tabindex="9" src="img/logos/nochach.png" alt="נכח" class="nochach"/>
            <a tabindex="10" target="_blank" href="https://www.facebook.com/%D7%A1%D7%97%D7%99-%D7%A1%D7%99%D7%99%D7%A8%D7%AA-%D7%97%D7%A1%D7%93-%D7%99%D7%97%D7%95%D7%93%D7%99%D7%AA-275095383548/?fref=ts">
                <img src="img/fb-circ.png" alt="דף פייסבוק" class="fb"/>
            </a>
            <a tabindex="11" target="_blank" href="https://www.youtube.com/user/SahiIsrael">
                <img src="img/youtube_circ.png" alt="ערוץ יוטיוב" class="yt"/>
            </a>
            <a ng-cloak="" ng-if="lang=='he'" ng-click="changeLang('en')" tabindex="12" alt="אתר באנגלית" class="trans">ENG</a>
            <a ng-cloak="" ng-if="lang=='en'" ng-click="changeLang('he')" tabindex="12" alt="אתר בעברית" class="trans">עברית</a>
        </span>
    </nav>
</header>

<donation tabindex="99"></donation>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div ng-view autoscroll="true"></div>

<footer>
    <!--<span class="login"><input type="checkbox" ng-model="user.isAdmin"/></span>-->
</footer>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="lib/bootstrap/javascripts/ui-bootstrap-tpls-0.14.3.min.js"></script>
<script src="lib/jquery/jquery-2.2.1.min.js"></script>
<script src="app.js"></script>
<script src="bower_components/slick-carousel/slick/slick.js"></script>
<script src="bower_components/angular-slick/dist/slick.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="js/aria.js"></script>
<script src="bower_components/angular-carousel/dist/angular-carousel.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="js/froogaloop.js"></script>
<script src="bower_components/angularjs-toaster/toaster.js"></script>
<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<!--<script src="bower_components/lifely-angular-carousel/angular-carousel.js"></script>-->
<!--<script src="bower_components/hammerjs/hammer.js"></script>-->
<script src="factories/data-factory.js"></script>
<script src="home/home.js"></script>
<script src="activity/activity.js"></script>
<script src="people/people.js"></script>
<script src="partners/partners.js"></script>
<script src="thanks/thanks.js"></script>
<script src="contact/contact.js"></script>
<script src="transparency/transparency.js"></script>
<script src="components/donation/donation.js"></script>
</body>
</html>
