<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>sachi</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/fonts/font-awesome/scss/font-awesome.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->

</head>
<body>
<div class="overlay"></div>
<toaster-container toaster-options="{'time-out': 2000}"></toaster-container>
<header>
    <nav class="nav">
        <a ng-click="isShown = !isShown"><i class="fa fa-bars" id="menu-icon"></i></a>
        <a href="#/home"><img tabindex="1"  src="img/logo.jpg" alt="sachi logo link to home page" class="logo"/></a>
        <ul ng-show="!isShown">
            <!--<li><a class="current" href="#/home">ENG</a></li>-->
            <li><a tabindex="2" ng-class="getClass('past')" href="#/activity/past">עבר</a></li>
            <li><a tabindex="3" ng-class="getClass('present')" href="#/activity/present">הווה</a></li>
            <li><a tabindex="4" ng-class="getClass('future')" href="#/activity/future">עתיד</a></li>
            <li><a tabindex="5" ng-class="getClass('giving')" href="#/activity/giving">נתינה</a></li>
            <li><a tabindex="6" ng-class="getClass('people')" href="#/people">אנשים</a></li>
            <li><a tabindex="7" ng-class="getClass('transparency')" href="#/transparency">שקיפות</a></li>
            <li><a tabindex="8" ng-class="getClass('contact')" href="#/contact">קשר</a></li>
        </ul>
        <span class="social">
            <a href="http://www.israeltoremet.org/amuta/580485233" target="_blank">
                <img tabindex="9" src="img/logos/nochach.png" alt="nochach logo" class="nochach"/>
            </a>
            <a tabindex="10" target="_blank" href="https://www.facebook.com/%D7%A1%D7%97%D7%99-%D7%A1%D7%99%D7%99%D7%A8%D7%AA-%D7%97%D7%A1%D7%93-%D7%99%D7%97%D7%95%D7%93%D7%99%D7%AA-275095383548/?fref=ts">
                <img src="img/fb-circ.png" alt="facebook link" class="fb"/>
            </a>
            <a tabindex="11" target="_blank" href="https://www.youtube.com/user/SahiIsrael">
                <img src="img/youtube_circ.png" alt="youtube link" class="yt"/>
            </a>
            <a tabindex="12" href="#/home" alt="english version link" class="trans">ENG</a>
        </span>
    </nav>
</header>

<donation tabindex="99"></donation>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div ng-view></div>

<footer>
    <span class="login"><input type="checkbox" ng-model="user.isAdmin"/></span>
</footer>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="lib/bootstrap/javascripts/ui-bootstrap-tpls-0.14.3.min.js"></script>
<script src="lib/jquery/jquery-2.2.1.min.js"></script>
<script src="app.js"></script>
<script src="js/aria.js"></script>
<script src="js/froogaloop.js"></script>
<script src="bower_components/angularjs-toaster/toaster.js"></script>
<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script src="factories/data-factory.js"></script>
<script src="home/home.js"></script>
<script src="activity/activity.js"></script>
<script src="people/people.js"></script>
<script src="partners/partners.js"></script>
<script src="contact/contact.js"></script>
<script src="transparency/transparency.js"></script>
<script src="components/donation/donation.js"></script>
</body>
</html>
