http://www.jsoneditoronline.org/?id=d9c8c1012b5a3330856a426984dbc762

<!-- donation form-->
<!--<div class="donationFormRight">-->
    <!--<label for="donateName" class="name">שם/חברה</label>-->
    <!--<span class="donationValidation" ng-show="donationForm.donateName.$touched && donationForm.donateName.$invalid">*</span>-->
    <!--<input id="donateName" name="donateName" ng-model="donateName" type="text" class="formInput" required/>-->

    <!--<label for="donatePhone" class="phone">טלפון</label>-->
    <!--<span class="donationValidation" ng-show="donationForm.donatePhone.$touched && donationForm.donatePhone.$invalid">*</span>-->
    <!--<input id="donatePhone" name="donatePhone" ng-model="donatePhone" type="text" class="formInput" required/>-->
<!--</div>-->
<!--<br/>-->
<!--<div class="donationFormLeft">-->
    <!--<label for="donateId" class="id">ת.ז./ח.פ</label>-->
    <!--<span class="donationValidation" ng-show="donationForm.donateId.$touched && donationForm.donateId.$invalid">*</span>-->
    <!--<input id="donateId" name="donateId" ng-model="donateId" type="text" class="formInput" required/>-->

    <!--<label for="donateMail" class="mail">מייל</label>-->
    <!--<span class="donationValidation" ng-show="donationForm.donateMail.$touched && donationForm.donateMail.$invalid">*</span>-->
    <!--<input id="donateMail" name="donateMail" ng-model="donateMail" type="text" class="formInput" required/>-->
<!--</div>-->

<!--&lt;!&ndash;<form action="https://www.paypal.com/cgi-bin/webscr" method="post">&ndash;&gt;-->
<!--&lt;!&ndash;<input type="hidden" name="cmd" value="_s-xclick">&ndash;&gt;-->
<!--&lt;!&ndash;<input type="hidden" name="hosted_button_id" value="59MFPTRMRTVZC">&ndash;&gt;-->
<!--&lt;!&ndash;<table>&ndash;&gt;-->
<!--&lt;!&ndash;<tr>&ndash;&gt;-->
<!--&lt;!&ndash;<td><input type="hidden" name="on0" value=""></td>&ndash;&gt;-->
<!--&lt;!&ndash;</tr>&ndash;&gt;-->
<!--&lt;!&ndash;<tr>&ndash;&gt;-->
<!--&lt;!&ndash;<td><select name="os0">&ndash;&gt;-->
<!--&lt;!&ndash;<option value="10">$10.00 USD - monthly</option>&ndash;&gt;-->
<!--&lt;!&ndash;<option value="20">$20.00 USD - monthly</option>&ndash;&gt;-->
<!--&lt;!&ndash;<option value="50">$50.00 USD - monthly</option>&ndash;&gt;-->
<!--&lt;!&ndash;<option value="100">$100.00 USD - monthly</option>&ndash;&gt;-->
<!--&lt;!&ndash;<option value="150">$150.00 USD - monthly</option>&ndash;&gt;-->
<!--&lt;!&ndash;</select></td>&ndash;&gt;-->
<!--&lt;!&ndash;</tr>&ndash;&gt;-->
<!--&lt;!&ndash;</table>&ndash;&gt;-->
<!--&lt;!&ndash;<input type="hidden" name="currency_code" value="USD">&ndash;&gt;-->
<!--&lt;!&ndash;<input type="image" src="https://www.paypalobjects.com/en_US/IL/i/btn/btn_donateCC_LG.gif" border="0"&ndash;&gt;-->
<!--&lt;!&ndash;name="submit" alt="PayPal - The safer, easier way to pay online!">&ndash;&gt;-->
<!--&lt;!&ndash;<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->

<!--example need to pay Accessibility -  Add script Above </body> tag -->
<!--<script type="text/javascript"> window.interdeal={sitekey:"5c91aadd7a2bee8e90f84ba2af3c733f",Position:"Right",Menulang:"HE",iconsSize:"big",sideMargin:0,topMargin:0}</script>-->
<!--<script  id="passargs" type="text/javascript" src="http://js.nagich.co.il/accessibility.js"></script>-->


<!--//accability options-->
<!--//var logo = document.querySelector(".logo");-->
<!--//function accFontSizeDefault() {-->
<!--//    document.body.style.fontSize = "1em";-->
<!--//    logo.style.marginLeft = "3em";-->
<!--//}-->
<!--//function accFontSizePlusOne() {-->
<!--//    document.body.style.fontSize = "1.2em";-->
<!--//    logo.style.marginLeft = "0";-->
<!--//}-->
<!--//function accFontSizePlusTwo() {-->
<!--//    document.body.style.fontSize = "1.4em";-->
<!--//    logo.style.marginLeft = "-2em";-->
<!--//}-->
<!--//function changeColor() {-->
<!--//    var image = document.querySelectorAll('img');-->
<!--//    for (var i = 0; i < image.length; i++) {-->
<!--//        image[i].classList.toggle("grayscale");-->
<!--//    }-->
<!--//    document.querySelector('.dd').classList.toggle("bw");-->
<!--//    document.querySelector('#msg').classList.toggle("bw");-->
<!--//    document.querySelector('.title').classList.toggle("bw");-->
<!--//    document.querySelector('.btnContinue').classList.toggle("buttonbw");-->
<!--//    if (!document.querySelector('h1')) return;-->
<!--//    document.querySelector('h1').classList.toggle("bw");-->
<!--//    if (!document.querySelector('aside')) return;-->
<!--//    document.querySelector('aside h3').classList.toggle("cg");-->
<!--//    document.querySelector('aside').classList.toggle("asidebw");-->
<!--//    if (!document.querySelector('.formSend')) return;-->
<!--//    document.querySelector('.formSend').classList.toggle("bw");-->
<!--//}-->