.partners {
  display: flex;
  width: 100%;
  aside {
    max-height: 89px;
    padding-bottom: 0;
  }
  .activity-sections {
    margin-top: -10px;
    p {
      margin-top: -7px !important;
    }

  }
  .recommendationRight {
    p {
      height: 190px;
    }
  }
  .recommendation {
    background-color: gainsboro;
    margin-top: 10em;

  }
}

.cg {
  color: #77787a;
}

.mw80 {
  max-width: 80%;
}

.partners nav {
  padding-bottom: 0;
}

.recommendation {
  display: flex;
}

.recommendationRight {
  flex: 1;
}

.recommendationMid {
  flex: 1;
  margin-right: 20px;
}

.ml30 {
  margin-left: 30px;
}

.recommendationLeft {
  flex: 1;
  margin-right: 20px;
  margin-left: -30px;
}

.quote {
  float: left;
  margin-left: 15px;
}

.partnerName {
  color: $lightBlue;
  float: right;
}

.logos {
  display: flex;
  float: right;
  margin-top: 1em;
  margin-bottom: -20px;
}

.partnersHr {
  height: 1px;
  width: 100%;
  margin-bottom: -25px;
}
.vr {
  margin-bottom: 15px;
}
.last {
  display: none !important;
}
.logosVr:last-of-type  {
  //display: none;
}

.logoImg {
  margin-top: -10px;
  height: 95px;
  width: 95%;
  //border-right: 1px dotted #b4b4b4;
  padding-right: 3px;
  &:hover {
    cursor: pointer;
  }

}

.brn {
  border-right: none;
}
//.logosHr {
//  border: none;
//  border-top: 1px dotted #b4b4b4;
//  background-color: #fff;
//  height: 1px;
//  width: 100%;
//  margin-bottom: -1em;
//}

@media only screen and (max-width: 640px) {
  .recommendation {
    flex-direction: column;
    margin-top: 9.5em;
  }
  .recommendationRight {
    font-size: 1em;
    margin-bottom: 2em;
    background-color: $lighterGray;
    padding-right: 40px;
    padding-top: 1em;
  }
  .cg {
    color: #231f20;
  }
  .light {
    font-family: "nextExitRound-Regular", sans-serif;
  }
  .partners {
    aside {
      margin-top: 0 !important;
      .activity-sections {
        li {
          width: 50%;
          margin-top: 10px;
        }
      }
      h3 {
        margin-top: 115px;
        background-color: $lighterGray;
        padding-bottom: 10px;
        padding-top: 15px;
        margin-bottom: 0;
      }
    }
  }
  .logosRow {
    margin-left: -10%;
  }
}
