.partners {
  display: flex;
  width: 100%;
  aside {
    max-height: 89px;
    padding-bottom: 50px;
  }
  .activity-sections {
    margin-top: -10px;
    p {
      margin-top: -7px !important;
    }

  }
  .recommendationRight {
    p {
      height: 190px;
    }
  }
  .recommendation {
    background-color: gainsboro;
    margin-top: 10em;

    li {
      //outline: none;
      display: flex;
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

.cg {
  color: #77787a;
}

.mw85 {
  max-width: 85%;
}

.partners nav {
  padding-bottom: 0;
}

.recommendation {
  margin-top: -3em;
  display: flex;
  padding-right: 0;
  .btnEdit {
    display: inherit;
  }
  li {
    flex: 1;
    padding-left: 25px;
  }
}

//.recommendationRight {
//  flex: 30;
//  padding-left: 25px;
//}


.ml30 {
  margin-left: 30px;
}

.quote {
  float: left;
  margin-left: 25px;
}

.partnerName {
  color: $lightBlue;
  float: right;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3em;

}

.partnersHr {
  height: 1px;
  width: 100%;
}
.vr {
  margin-bottom: 15px;
}

.last {
  display: none !important;
}

.logoImg {
  min-height: 70px;
  width: 185px;
  padding-right: 3px;
  &:hover {
    cursor: pointer;
  }

}
.rn-carousel-control {
  display: none;
}
.brn {
  border-right: none;
}

@media only screen and (max-width: 640px) {
  .recommendation {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin-top: 172px;
    margin-right: 0;
  }
  .recommendationRight {
    font-size: 1.3em;
    margin-bottom: 9em;
    margin-top: -153px;
    background-color: $lighterGray;
    padding-right: 40px;
    padding-top: 1em;
    padding-bottom: 6em;
    padding-left: 20px;
    margin-right: 0;
  }
  .cg {
    color: #231f20;
  }
  .light {
    font-family: "nextExitRound-Light", sans-serif;
  }
  .rn-carousel-control {
    display: block;
  }
  .logoImg {
    width: 80%;
    //padding-right: 30px;
    //padding-left: 30px;
  }
  .logos {
    text-align: center;
    margin-top: -8em;
  }
  .partners {
    aside {
      margin-top: 0 !important;
      .activity-sections {
        li {
          //width: 50%;
          margin-top: 10px;
        }
      }
      h3 {
        margin-top: 115px;
        background-color: $lighterGray;
        padding-bottom: 10px;
        padding-top: 15px;
        margin-bottom: 0;
      }
    }
  }
  .logosRow {
    margin-left: -10%;
  }
  .vr {
    height: 68px;
    margin-bottom: 0;
  }
}
