.partners {
  display: flex;
  width: 100%;
  aside {
    max-height: 89px;
    padding-bottom: 0;
  }
  .activity-sections {
    margin-top: -10px;
    p {
      margin-top: -7px !important;
    }

  }
  .recommendationRight {
    p {
      height: 190px;
    }
  }
  .recommendation {
    background-color: gainsboro;
    margin-top: 10em;

  }
}
ul[rn-carousel] {
  //-ms-touch-action: none;
  //touch-action: none;
}

.cg {
  color: #77787a;
}

.mw85 {
  max-width: 85%;
}

.partners nav {
  padding-bottom: 0;
}

.recommendation {
  width: 35%;
  float: left;
  margin-left: -1.7em;
  .btnEdit {
    display: inherit;
  }
}

.recommendationRight {
  flex: 1;
  padding-right: 1em;
}

.recommendationMid {
  flex: 1;
  margin-right: 20px;
}

.ml30 {
  margin-left: 30px;
}

.recommendationLeft {
  flex: 1;
  margin-right: 20px;
  margin-left: -30px;
}

.quote {
  float: left;
  margin-left: 25px;
}

.partnerName {
  color: $lightBlue;
  float: right;
}

.logos {
  display: flex;
  float: right;
  margin-top: 8em;
  margin-bottom: -7.7em;
}

.partnersHr {
  height: 1px;
  width: 100%;
  margin-bottom: -14em;
}
.vr {
  margin-bottom: 15px;
}

.last {
  display: none !important;
}

.logoImg {
  margin-top: -10px;
  height: 95px;
  width: 95%;
  padding-right: 3px;
  &:hover {
    cursor: pointer;
  }

}
.rn-carousel-control {
  display: none;
}
.brn {
  border-right: none;
}

@media only screen and (max-width: 640px) {
  .recommendation {
    width: 100%;
    margin-left: 0;
    margin-top: 9.5em;
  }
  .recommendationRight {
    font-size: 1.3em;
    margin-bottom: 6em;
    margin-top: -80px;
    background-color: $lighterGray;
    padding-right: 40px;
    padding-top: 1em;
    padding-bottom: 3em;
    padding-left: 20px;
  }
  .cg {
    color: #231f20;
  }
  .light {
    font-family: "nextExitRound-Regular", sans-serif;
  }
  .rn-carousel-control {
    display: block;
  }
  .partners {
    aside {
      margin-top: 0 !important;
      .activity-sections {
        li {
          //width: 50%;
          margin-top: 10px;
        }
      }
      h3 {
        margin-top: 115px;
        background-color: $lighterGray;
        padding-bottom: 10px;
        padding-top: 15px;
        margin-bottom: 0;
      }
    }
  }
  .logosRow {
    margin-left: -10%;
  }
}
