<div class="partners">
    <aside>
        <h3>{{data.pageTitle}}</h3>
        <nav>
            <ul class="mt-15 activity-sections">
                <li ng-repeat="section in data.sections" ng-click="sectionClicked(section)">
                    <a ng-href="#/{{section.engPageTitle}}">
                        <p class="cb regular fs18" ng-class="{regular: section.selected}">{{section.title}}</p>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <article>
        <h1 class="light">{{data.pageTitle}}</h1>
    </article>
</div>
<div class="recommendation">
    <div ng-repeat="recommendations in data.recommendations" class="recommendationRight">
        <i class="fa fa-quote-right fa-4x quote"></i>
        <p class="cg light mw90">{{recommendations.textPrimaryPartners}}</p>
        <p class="partnerName">שם שותף גוף או חברה</p>
        <i class="fa fa-quote-left fa-4x quote fl ml30"></i>
    </div>
</div>
<!--<img ng-repeat="i in [1, 2, 3, 4]" ng-src="./img/logos/{{i}}.jpg" alt="company logos" class="gal"/>-->
<div class="logosRow">
    <img ng-repeat="i in [1, 2, 3, 4]" ng-src="./img/logos/{{i}}.jpg" alt="company logos" class="logoImg"/>
</div>
<br/>
<hr class="logosHr"/>
<div class="logosRow">
    <img ng-repeat="i in [4, 3, 2, 1]" ng-src="./img/logos/{{i}}.jpg" alt="company logos" class="logoImg"/>
</div>
