<div class="partners">
    <aside>
        <h3>{{vm.data.pageTitle}}</h3>
        <nav>
            <ul class="mt-15 activity-sections">
                <li>
                    <a ng-href="#people">
                        <p class="light fs18">האנשים שלנו</p>
                    </a>
                </li>
                <img src="img/hr.PNG" class="myHr" alt=""/>
                <li>
                    <p class="regular fs18">השותפים שלנו</p>
                </li>
            </ul>
        </nav>

    </aside>
    <article>
        <h1 class="light">השותפים שלנו</h1>
    </article>
</div>
<div class="recommendation">
    <!--<input type="checkbox" ng-model="vm.lockCarousel"/>Lock the carousel {{vm.lockCarousel}}-->
    <!--<button ng-click="vm.lockCarousel=!vm.lockCarousel">LOCK!</button>-->
    <ul class="partnersCarousel" rn-carousel rn-carousel-locked1="vm.lockCarousel">
        <li ng-repeat="recommendations in vm.data.recommendations">
            <span class="rn-carousel-control rn-carousel-control-prev ng-scope" ng-click="nextSlide()"></span>
            <div class="recommendationRight">
                <img src="img/quoteR.PNG" alt="quote"/>
                <p editable-textarea="recommendations.textPrimaryPartners" e-rows="7" e-cols="40" e-form="textBtnForm1" onaftersave="vm.updateModel()"
                   class="cg light mw85">{{recommendations.textPrimaryPartners}}
                </p>
                <button ng-if="user.isAdmin" class="btnEdit" ng-click="textBtnForm1.$show()" ng-hide="textBtnForm1.$visible">ערוך</button>

                <p editable-textarea="recommendations.companyName" e-rows="7" e-cols="40" e-form="textBtnForm2" onaftersave="vm.updateModel()"
                   class="partnerName">{{recommendations.companyName}}
                </p>
                <button ng-if="user.isAdmin" class="btnEdit" ng-click="textBtnForm2.$show()" ng-hide="textBtnForm2.$visible">ערוך</button>
                <img class="homeQuote" src="img/quoteL.PNG" alt="quote"/>
            </div>
            <span class="rn-carousel-control rn-carousel-control-next ng-scope" ng-click="prevSlide()" ></span>

        </li>
    </ul>
</div>
<div class="logos">
    <div ng-repeat="logos in vm.data.logos" class="logos">
        <a target="_blank" ng-href="{{logos.url}}"><img ng-src="./img/logos/{{logos.id}}.jpg" alt="{{logos.name}}" class="logoImg"/></a>
        <img ng-class="vm.isLast($last)" src="img/vr.PNG" class="vr" alt=""/>
    </div>
</div>
<img src="img/hr.PNG" class="partnersHr" alt=""/>
<div class="logos">
    <div ng-repeat="logos in vm.data.logos" class="logos">
        <a target="_blank" ng-href="{{logos.url}}"><img ng-src="./img/logos/{{logos.id}}.jpg" alt="{{logos.name}}" class="logoImg"/></a>
        <img ng-class="vm.isLast($last)" src="img/vr.PNG" class="vr" alt=""/>
    </div>
</div>

