.people {
  display: flex;
  width: 100%;
  aside {
    margin-bottom: 0;
    padding-bottom: 50px;
  }

  .activity-sections {
    margin-top: -10px;
    p {
      margin-top: -7px !important;
    }
  }

}

.peopleDesc {
  display: flex;
  .boxImg {
    margin: 0;
    padding: 0;
    flex: 1.4;
    margin-bottom: 30px;
    img {
      width: 106%;
    }
  }

  .btnEdit {
    margin-top: -2em;
    margin-bottom: 2em;
  }
  .btnEdit2 {
    margin-top: 2em;
  }

  article {
    flex: 1.6;
    margin-top: -30px;
    margin-right: 45px;
  }
}

@media only screen and (max-width: 640px) {
  .people, .partners {
    aside {
      flex: none !important;
      padding-bottom: 0;
      nav {
        width: 100%;
        max-height: 65px;
      }
      p {
        margin-bottom: 15px !important;
        margin-top: -10px !important;
      }
      .activity-sections {
        li {
          width: 50%;
          margin-top: 10px;
          &:before {
            content: "" !important;
          }
        }
        p {
          margin-top: -5px;
        }
      }
    }
    .mt-15 {
      margin-top: 15px;
    }
  }
  .peopleDesc {
    flex-direction: column;
    margin-top: 30px;
    padding-right: 50px;
    padding-left: 4em;
    article {
      margin-right: 0 !important;
    }
  }

}


