<div class="people">
    <aside>
        <h3>{{data.pageTitle}}</h3>
        <nav>
            <ul class="mt-15 cb light fs18 activity-sections">
                <li ng-repeat="section in data.sections" ng-click="sectionClicked(section)">
                    <a ng-href="#/{{section.engPageTitle}}"><p class="cb" ng-class="{regular: section.selected}">{{section.title}}</p></a>
                </li>
            </ul>
        </nav>
    </aside>
    <article>
        <h1 class="light">האנשים שלנו</h1>
    </article>
</div>

<div ng-repeat="section in data.sections" class="peopleDesc">
    <div class="boxImg">
        <img src="img/people.jpg" alt="" class="interviewImg"/>
    </div>
    <article>
        <p class="strong light weight">{{section.titlePrimary}}</p>
        <p class="strong light mb-20 mt-20">{{section.titleSecondary}}</p>
        <p class="descParagraph regular">{{section.textPrimaryPeople}}</p>
    </article>
</div>
